<div class="row">
  <div class="col-3 m-auto">
    <%= render  "events/new" %>
  </div>
  <div class="col-4 ">
    <h4> <%=@user.name%> </h4>
    <h5>Events you've created:</h5>
    <ul>
      <%@events.each do |x|%>
      <li><%=x.title%></li>
      <%end%>
    </ul>
  </div>
  <div class="col-3 m-auto">
    <h5>Events you'll be attending:</h5>
<ul>
<%@upcoming.each do |x|%>
<li><%=x.title%></li>
<%end%>
</ul>
<br>
<h5>Events you've attended</h5>
<ul>
<%@past.each do |x|%>
<li><%=x.title%></li>
<%end%>
</ul>
<br>
  </div>
</div>